<div class="face-snap-card">
    <p>face-snap works!</p>
    <h1>{{faceSnap.title}} </h1>
    <img [src]="faceSnap.imagUrl" [alt]="faceSnap.description">
    <p>{{faceSnap.description}}</p>
    <p> je verifie</p>
    <p> contenu crée depuis le {{faceSnap.creatDate}}</p>
    <p>
        <button (click)="onSnaps()">{{textLike}}</button>
        {{faceSnap.snaps}} j'aimes
    </p>
    <p>
        <button (click)="onSnaps()">{{textLike}}</button>
        {{faceSnap.snaps}} j'aimes
    </p>
</div>
    
